.favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
  }
  .favorite-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px; /* Ajusta el tamaño del cuadro semitransparente según sea necesario */
    height: 40px; /* Ajusta el tamaño del cuadro semitransparente según sea necesario */
    background-color: rgba(255, 255, 255, 0.5); /* Color de fondo semitransparente */
    z-index: 1;
    border-radius: 10%; 
  }
  
  .favorite-button ion-icon {
    font-size: 24px; /* Ajusta el tamaño según tus preferencias */
    background-color: transparent;
  }
  
  .favorite-overlay {
    transition: background-color 0.3s;
  }
  
  .favorite-overlay:hover {
    background-color: rgba(255, 255, 255, 0.315); /* Color de fondo cuando se pasa el mouse sobre el botón */
  }
  