<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
 
  <ion-grid>
    <ion-row>
          <ion-col size="6" *ngFor="let product of productsFav; index as i">
            <ion-card >
              <img alt="Silhouette of mountains" [src]="product.photo+i" />
              <ion-card-header>
                <ion-card-title>
                  {{product.name}}
                  <ion-badge [color]="product.type === 'Abarrotes' ? 'primary' : (product.type === 'Frutas Y Verduras' ? 'warning' : (product.type === 'Farmacia' ? 'success' : 'danger'))"> {{product.type}}</ion-badge>
                </ion-card-title>
                <ion-card-subtitle>{{ product.price | currency}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                {{product.description}}
              </ion-card-content>
              <ion-button  expand="block">
                <ion-icon name="cart"></ion-icon>
              </ion-button>
              
              <ion-button expand="block" color="danger" (click)="eliminarFav(i)">
                <ion-icon name="close"   ></ion-icon>
              </ion-button>
            </ion-card>
          </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>
